<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>All properties</title>
  </head>
  <body>
    <%= partial(:'partials/header') %>

  <div class="container">
    <div class="row">
      <div class="col-12">

<div class="bg-light p-4 my-4">
          <form action='/property/all/available' method="get">
  <div class="form-row d-flex align-items-end">
    <div class="col">
          <label for="checkin">Check-in</label>
      <input type="date" class="form-control" name="check_in" id="checkin">
    </div>
    <div class="col">
                <label for="checkin">Check-out</label>

      <input type="date" class="form-control" id="checkout" name="check_out">
    </div>

    <div class="col">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    <div class="col">
<a href="/property/all"  class="btn btn-secondary">Reset</a>
    </div>
  </div>
</form>
</div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Featured properties</h2>
          <%if @properties != nil%>
          <ol class="list-unstyled">
            <% @properties.each do |property| %>
            <li class="listing">
 <div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">


     <a href="/property/<%=property.id%>">      <div class="card-img" alt="property" style="background-image: url('<%= property.image %>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #eee;height:100%;"></div></a>


    </div>
    <div class="col-md-8">
      <div class="card-body">


        <h5 class="card-title" name="single_prop"><a href="/property/<%=property.id%>"><%= property.name %></a></h5>
        <p class="card-text">
        <p><%= property.description %></p>
              <p>£<%= property.price_per_night %> per night</p>
              <% if property.available_from != nil %> <% d1 =
              property.available_from %> <% d2 = property.available_to %>
              <p class="small">
                Available from: <%= d1.strftime("%A #{d1.day.ordinalize} %B %Y")
                %>
              </p>
              <p class="small">
                Available to: <%= d2.strftime("%A #{d2.day.ordinalize} %B %Y")
                %>
              </p>
              <a class="btn btn-primary my-2 my-sm-0"
                  href="/property/<%=property.id%>/booking/new"
                  role="button" name="book"
                  >
                  Book</a>

              <% else %>
              <p class="small">Available from: Unavailable</p>
              <p class="small">Available to: Unavailable</p>

              <% end %>
        </p>

      </div>
    </div>
  </div>
</div>

            </li>



            <% end %>
          </ol>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
