<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>All properties</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
            <a class="navbar-brand" href="/" style="font-size: 1.5rem;"
              ><strong>MakersBnB</strong></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">All properties</a>
                </li>
              </ul>
              <% if @user %>
              <div class="my-2 my-lg-0">
                <a
                  class="btn btn-secondary my-2 my-sm-0"
                  href="/user/profile"
                  role="button"
                  >My Profile</a
                >
                <a
                  class="btn btn-primary my-2 my-sm-0"
                  href="/logout"
                  role="button"
                  >Log Out</a
                >
              </div>
              <% else %>
              <div class="my-2 my-lg-0">
                <a
                  class="btn btn-secondary my-2 my-sm-0"
                  href="/login"
                  role="button"
                  >Log In</a
                >

                <a
                  class="btn btn-primary my-2 my-sm-0"
                  href="/signup"
                  role="button"
                  >Sign Up</a
                >
              </div>
              <% end %>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Featured properties</h2>
          <%if @properties != nil%>
          <ol class="list-unstyled">
            <% @properties.each do |property| %>
            <li class="listing">
 <div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1534889156217-d643df14f14a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="card-img" alt="property">
    </div>
    <div class="col-md-8">
      <div class="card-body">


        <h5 class="card-title"><%= property.name %></h5>
        <p class="card-text">
        <p><%= property.description %></p>
              <p>£<%= property.price_per_night %> per night</p>
              <% if property.available_from != nil %> <% d1 =
              property.available_from %> <% d2 = property.available_to %>
              <p class="small">
                Available from: <%= d1.strftime("%A #{d1.day.ordinalize} %B %Y")
                %>
              </p>
              <p class="small">
                Available to: <%= d2.strftime("%A #{d2.day.ordinalize} %B %Y")
                %>
              </p>
              <a class="btn btn-primary my-2 my-sm-0"
                  href="/property/<%= property.id %>"
                  role="button" name="book"
                  >
                  Book</a>

              <% else %>
              <p class="small">Available from: Unavailable</p>
              <p class="small">Available to: Unavailable</p>

              <% end %>
        </p>

      </div>
    </div>
  </div>
</div>

            </li>



            <% end %>
          </ol>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
