<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <%= partial(:'partials/header') %>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="jumbotron "
            style="background-image: url('<%= @property.image %>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #eee;height:500px;"
          ></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <div class="col-8">
        
          <h1><%= @property.name %></h1>
          <p><%= @property.description %></p>
          <p><%= @property.price_per_night %></p>
          <p>
            <%d1 = @property.available_from %> Available from: <%=
            d1.strftime("%A #{d1.day.ordinalize} %B %Y") %>
          </p>
          <p>
            <%d2 = @property.available_to %> Available to: <%= d2.strftime("%A
            #{d2.day.ordinalize} %B %Y") %>
          </p>
        </div>

  <div class="col-4">
  <div class="bg-light p-4 my-4">
          <form action='/property/all/available' method="get">
  <div class="form-row d-flex align-items-end">
    <div class="col">
          <label for="checkin">Check-in</label>
      <input type="date" class="form-control" name="check_in" id="checkin">
    </div>
    <div class="col">
                <label for="checkin">Check-out</label>

      <input type="date" class="form-control" id="checkout" name="check_out">
    </div>

<div class="col" class="width:100%;">
<a
            class="btn btn-primary my-2 my-sm-0"
            href="/property/<%= @property.id %>/booking/new"
            role="button"
            name="book"
          >
            Book</a
          >

  </div>
</form>
</div>
  </div>
      
    </div>
  </div>

          
        </div>
      </div>
    </div>

    <%= partial(:'partials/footer') %> <%= partial(:'partials/footer-links') %>
  </body>
</html>
