<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user/<%= @user.id %>/property/<%= @property.id %>" method="post">
      <input type='hidden' name='_method' value='PATCH'/>
      <input type="text" name="name" value="<%= @property.name %>"/>
      <input type="text" name="description" value="<%= @property.description %>"/>
      <input type="text" name="price" value="<%= @property.price_per_night %>"/>
      <div>Date Availiable From:
        <input type="date" name="start_date"/>
      </div>
      <div>Date Availiable To:
        <input type="date" name="end_date"/>
      </div>
      <input type="submit" name="Submit" />
    </form>
  </body>
</html>
