
          <h2>Booking requests</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Price per night</th>
                  <th>Check in</th>
                  <th>Check out</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%if @bookings != nil%>
                <% @bookings.each do |booking| %>
                <tr>
                  <% d1 = booking.check_in %>
          <% d2 = booking.check_out %>
                  <td><%=booking.id %></td>
                  <td><%=booking.find_property.name %></td>
                  <td>£<%= booking.find_property.price_per_night %></td>
                  <td>
                    Available from: <%= d1.strftime("%A #{d1.day.ordinalize} %B
                    %Y") %>
                  </td>
                  <td><%= d2.strftime("%A #{d2.day.ordinalize} %B %Y") %></td>
                 
                  
                  <td>
                    <form
                      action=""
                      method="post"
                    >
                      <input type="hidden" name="_method" value="DELETE" />
                      <input
                        type="submit"
                        value="Cancel"
                        class="btn btn-secondary btn-sm"
                      />
                    </form>
                  </td>
                </tr>
                <% end %> 
                 <% else %>
                 <h2>No bookings</h2>
                <% end %>
              </tbody>
            </table>
          </div>