<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user/<%= @user.id %>/property/new" method="get">
      <input type="submit" name="Create" value="Create new listing"/>
    </form>
    <%if @properties != nil%>
    <ol>
      <% @properties.each do |property| %>
      <li class="listing">
        <h3><%= property.name %></h3>
        <p><%= property.description %></p>
        <p>£<%= property.price_per_night %> per night</p>
        <% if property.availiable_from != nil %>
          <% d1 = property.availiable_from %>
          <% d2 = property.availiable_to %>
          <p>Availiable from: <%= d1.strftime("%A #{d1.day.ordinalize} %B %Y") %></p>
          <p>Availiable to: <%= d2.strftime("%A #{d2.day.ordinalize} %B %Y") %></p>
        <% else %> 
          <p>Availiable from: Unavailiable</p>
          <p>Availiable to: Unavailiable></p>
        <% end %>
        <form action="/user/<%= @user.id %>/property/<%= property.id %>/update" method="get">
          <input type="submit" name="Edit" value="Edit"/>
        </form>
        <form action="/user/<%= @user.id %>/property/<%= property.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete" />
        </form>
      </li>

      <% end %>
    </ol>
    <% end %>
  </body>

</html>
